<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
        
        <context:component-scan base-package="cn.sakuraffy.shop.."/> 
        
        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">  
		    <property name="driverClass" value="com.mysql.jdbc.Driver" />  
		    <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/shop" />  
		    <property name="user" value="root" />  
		    <property name="password" value="root" />  
		</bean>
		
		<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
		     <property name="dataSource" ref="dataSource" />  
		     <property name="configLocation" value="classpath:hibernate.cfg.xml" /> <!-- 加载hibernate配置文件 -->  
			 <property name="packagesToScan" value="cn.sakuraffy.shop.model" />  
		</bean> 
		
		<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>
		
		<tx:advice id="advice" transaction-manager="transactionManager">  
		    <tx:attributes>  
		        <tx:method name="save*" propagation="REQUIRED"/>  
		        <tx:method name="update*" propagation="REQUIRED"/>  
		        <tx:method name="delete*" propagation="REQUIRED"/>  
		        <tx:method name="*" propagation="SUPPORTS"/>  
		    </tx:attributes>  
		</tx:advice>
		
		<aop:config>  
		    <!-- 配置哪些包的类要切入事务 -->  
		    <aop:pointcut id="pointcut" expression="execution(* cn.sakuraffy.shop.service.impl.*.*(..))" />  
		    <aop:advisor advice-ref="advice" pointcut-ref="pointcut"/><!-- 连接了<span style="font-family:Microsoft YaHei;">上</span>面的advice和上面的pointcut -->  
		    <!-- aop:pointcut要写在aop:advisor上面，否则会报错 -->  
		 </aop:config> 
			
</beans>